/* Variables CSS globales (colores, fuentes) */

:root {
    /* VARIABLES DE COLORES */
    --color-primary-aside:  #79D0AAFF;
    --color-primary-header: #2C2C7DFF;
    --color-azul-hover: #2C2C7DE6;
    --color-primary-main: #D2EDE2;
    --color-primary-footer: #15151534;
    --color-btn: #3C8067;
    --color-btn-hover: #4F8C76;
    --color-background-filter: #FFFFFF53;

    /* VARIABRES DE LAS CARD */
    --color-card-text: #6C7289;
    --color-card-name: #1C232B;
    --color-white: #FFFFFFFF;
    --color-brack: #00000088;
    --color-yellow: #FFD000FF;

    /* VARIABLES FUENTES */
    --family-primary: "Roboto", monospace, sans-serif;
    --family-secondary: "Montserrat", monospace, sans-serif;

    /* VARIABLES DE TAMAÑO */
    --size-14: 1.4rem;
    --size-16: 1.6rem;
    --size-2 : 2rem;
    --size-25: 2.5rem;
    --card-text-line-height: 23px;
    --letter-spacing-2: 2px;
    --gap-10: 10px;

    /* VARIABLES DE ASPECTO */
    --border-radius-top: 10px;
    --border-radius-wave: 30px;
}