/* Estilos del encabezado */

.header {
    position: sticky;
    bottom: 0;
    display: flex;
    font-size: 2rem;
}

.logo {
    display: none;
}

.header, .nav, .nav__list {
    width: 100%;
    max-height: 50px;
}

.nav__list {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.nav__link span {
    font-size: 1.3rem;
}