/* Estilos del layout principal */
@import url("../base/variables.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: none;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.body {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "aside"
        "main"
        "footer"
        "header";
    gap: 0px;
    font-family: var(--family-primary);
    font-size: var(--size-14);
    background: #2143EAFF;
    background: radial-gradient(circle, #2143EAFF 0%, #102828FF 75%);
    color: var(--color-white);
}

h1, h2, h3, h4 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}
.aside {
    grid-area: aside;
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}