.reviews {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.review__card {
    overflow: hidden;
    border-radius: 10px;
    padding: 37px;
    background: var(--color-azul-hover);
    width: 100%;
    max-width: 430px;
    height: auto;
    color: var(--white);
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr 2fr);
    
    box-shadow: 2px 2px 5px #6C6C70FF;
    transition: 
                transform 300ms ease,
                box-shadow 300ms ease;
    
}
.review__card:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px black;
}

.review__card figure {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.review__card figure img {
    border-radius: 50%;
    width: 40px;
}
.review__card figure figcaption {
    width: 150px;
}
.status {
    padding-top: 5px;
    color: var(--softPink);
    display: inline-flex;
}

.review__card p {
    line-height: 1.3;
}

