/** Archivo principal que importa todos los módulos */

@import url('./layout/layout.css');
@import url('./layout/aside.css');
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/mediaquery.css');

@import url('./components/somos.css');
@import url('./components/card.css');
@import url('./components/reseñas.css');
@import url('./components/form.css');

.main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/** Productos */
.product {
}

.product__title {
    padding: 30px 0;
    text-align: center;
    font-size: var(--size-25);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-2);
    font-weight: 700;
}

/** Formulario */
.form__container {
    border: 1px solid blur;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.form__container-title {
    padding: 10px 0;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
